<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Projet Medical</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="bgcolorA">
<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container" th:if="${patient}">
        <a th:href="@{'/patient_index/' + ${patient.id}}" style="text-indent: 10px;" class="navbar-brand">Medimeets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{'/patient_index/' + ${patient.id}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/prendre_rdv/' +${patient.id}}" class="nav-link">Prendre un rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/modifierRDV/' + ${patient.id}}" class="nav-link">Modifier un rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/patient_compte/' +${patient.id}}" class="nav-link">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/mes_messagesP/' + ${patient.id}}" class="nav-link">Mes messages</a>
                </li>
            </ul>
        </div>
    </div>
    <br> <br> <br>
</nav>
<br> <br>
<div class="maincontainerA">
    <div class="formPatient">
        <form id="formModifierRendezVous" th:action="@{/rendezvous/save}" method="post" th:object="${RendezVous}">
              <!--class="form-horizontal"  onsubmit="return checkEmailUnique(this);"> -->
            <div class="form-group">
                <input type="hidden" th:field="*{id}"/>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="nomPatient" name="nomClinique" th:field="*{patient}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="nomClinique" name="nomClinique" th:field="*{clinique}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="medecin" name="medecin" th:field="*{medecin}">
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-form-label">Date:</label>
                <input type="date" class="form-control" id="date" name="date" th:field="*{date}">
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label">Raison:</label>
                <input type="text" class="form-control" id="raisonRDV" name="Raison du rendez vous :" th:field="*{raison}">
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label">Description:</label>
                <input type="text" class="form-control" id="DescriptionRDV" name="Description : " th:field="*{description}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Modifier" id="submitModifierRendezVous">
            </div>

        </form>
    </div>
</div>
<div class="modal fade text-center" id="modalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Avertissement</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<br> <br>
<div class="footer">
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. Tous droits réservés. (À mettre directement en bas de la page)
        </div>
    </div><script>
    function  checkEmailUnique(form){
        $.ajax({
            type:"POST",
            url:'[[@{/cliniques/check_email}]]',
            data:{emailClinique:$("#emailClinique").val()},

            success: function (data){
                if(data=='OK'){
                    form.submit();
                }else{
                    showModalDialog("Avertissement","Il y a deja une clinique avec l'email : " + $("#emailClinique").val());
                }
            }
        })
        return false;
    }

    function showModalDialog(title,message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $('#modalDialog').modal();
    }
    $("#buttonCancel").on("click", function (){

        window.location ="[[@{/clinique_index}]]";
        //rediriger vers le page utilisateurs dans le meme location de windows.
    });
</script>
</div>
</body>
</html>