<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Projet Medical</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="bgcolorP">
<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container" th:if="${patient}">
        <a th:href="@{/patient_index}" style="text-indent: 10px;" class="navbar-brand">Medimeets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{/patient_index}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/prendre_rdv/'}" class="nav-link">Prendre un rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/modifier_rdv}" class="nav-link">Modifier un rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/patient_compte/' +${patient.id}}" class="nav-link">Mon compte</a>
                </li>
            </ul>
        </div>
    </div>
    <br> <br> <br>
</nav>
<br> <br>
<div class="main container" th:if="${patient}">
    <h2>Bienvenue [[${patient.nom}]]</h2>
    <br> <br>
    <div class="options_Patients">
        <h3>Ici sont vos options :</h3> <br> <br>
        <ul class="LesOptions" style="list-style-type: none;">
            <li>
                <a th:href="@{/prendre_rdv}">
                    <button>Cliquer ici pour prendre un rendez-vous</button>
                </a>
            </li>
            <li>
                <a th:href="@{'/modifierRDV/' + ${patient.id}}">
                    <button>Cliquer ici pour modifier et voir mes rendez-vous</button>
                </a>
            </li>
            <li>
                <a th:href="@{'/patient_compte/' +${patient.id}}">
                    <button>Cliquer ici pour modifier mon compte utilisateur</button>
                </a>
            </li>
            <li>
                <a th:href="@{/contacter_medecin}">
                    <button>Cliquer ici pour contacter un medecin qui est incris avec MediMeets</button>
                </a>
            </li>
            <li>
                <a th:href="@{/contacter_clinique}">
                    <button>Cliquer ici pour contacter une clinique qui est incris avec MediMeets</button>
                </a>
            </li>
        </ul>

    </div>
</div>
<br> <br>
<div class="footer">
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. Tous droits réservés. (À mettre directement en bas de la page)
        </div>
    </div>
</div>
</body>
</html>