<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Projet Medical</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"  href="../css/style.css" />
    <link rel="stylesheet"  href="../css/creer_compte.css" />
</head>
<body class="main">
<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{/}" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" >Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/presentation}" class="nav-link">À propos de nous</a>
                </li>
                <li class="nav-item">
                    <a  th:href="@{/creer}" class="nav-link">Créer un compte</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <br> <br> <br>
</nav>
<br> <br>
<div class="container">
    <form action="login.html" method="post">
        <p><label for="nom">Nom :</label> <br>
            <input type="text" id="nom" name="nom" required placeholder="Entrez votre nom"/> </p>
        <p><label for="prenom">Prenom :</label> <br>
            <input type="text" id="prenom" name="prenom" required placeholder="Entrez votre prenom"/> </p>
        <p><label for="nbr_assurance_maladie">Numero d'assurance maladie :</label> <br>
            <input type="text" id="nbr_assurance_maladie" name="nbr_assurance_maladie" required placeholder="Entrez votre numéro d'assurance maladie"/> </p>
        <p><label for="nbr_sequentiel_assurance_maladie">Numero séquentiel de la carte d'assurance maladie :</label> <br>
            <input type="text" id="nbr_sequentiel_assurance_maladie" name="nbr_sequentiel_assurance_maladie" required placeholder="Entrez votre numéro séquentiel d'assurance maladie"/> </p>
        <p><label for="date_naissance">Date de naissance :</label> <br>
            <input type="date" id="date_naissance" name="date_naissance" required placeholder="Entrez votre date de naissance"/> </p>
        <p> <input type="radio" id="sexe" name="sexes" required/> <label for="sexe">Homme</label><br>
            <input type="radio" id="sexe" name="sexes" required/> <label for="sexe">Femme</label><br>
            <input type="radio" id="sexe" name="sexes" required/> <label for="sexe">Autre</label><br>
        </p>
        <p><label for="username">Nom d'utilisateur :</label> <br>
            <input type="text" id="username" name="username" required placeholder="Entrez votre nom d'utilisateur"/> </p>
        <p><label for="prenom">Mot de passe :</label> <br>
            <input type="password" id="mot_passe" name="mot_passe" required placeholder="Entrez votre mot de passe:"/> </p>
        <p><input type="submit" value="Soumettre"/></p>
        <p><a href="login.html">Vous avez déjâ un compte?</a></p>
    </form>
    </form>
</div>
<br> <br>
<div class="footer">
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. Tous droits réservés. (À mettre directement en bas de la page)
        </div>
    </div>
</div>
</body>
</html>