<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Projet Medical</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet"  href="../css/style.css" />
</head>


<body class="login-bg">
<nav class="nav navbar navbar-expand-lg ">
  <div class="container">
    <a th:href="@{/}" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}" >Home</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/presentation}" class="nav-link">À propos de nous</a>
        </li>
        <li class="nav-item">
          <a  th:href="@{/creer_compte}" class="nav-link">Créer un compte</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/login}" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <br> <br> <br>
</nav>
<br> <br>

<div th:if="${messageFailedLogin!=null}"><h1>[[${message}]]</h1></div>


<div class="container">
  <div class="patientLogin">
  <form th:action="@{/patientLogin}" method="post">
    <p><label for="numAss">Numéro d'assurance sociale :</label> <br>
      <input type="text" id="numAss" name="numAss" required placeholder="Entrez votre numéro d'assurance sociale:"/> </p>
    <p><label for="passwordPatient">Mot de passe :</label> <br>
      <input type="password" id="passwordPatient" name="passwordPatient" required placeholder="Entrez votre mot de passe:"/> </p>
    <input type="submit" value="Soumettre"/>
    <p><a th:href="@{/creer_compte}">Pas de compte? Créer un ici!</a></p>
  </form>
</div>

  <br> <br>


<div class="medecinLogin">
  <form th:action="@{/medecinLogin}" method="post">
    <p><label for="numAss">Numéro professionel de santé :</label> <br>
      <input type="text" id="numProf" name="numProf" required placeholder="Entrez votre numéro professionel de santé:"/> </p>
    <p><label for="passwordMedecin">Mot de passe :</label> <br>
      <input type="password" id="passwordMedecin" name="passwordMedecin" required placeholder="Entrez votre mot de passe:"/> </p>
    <input type="submit" value="Soumettre"/>
    <p><a th:href="@{/creer_compte}">Pas de compte? Créer un ici!</a></p>
  </form>
</div>
</div>

<div class="containerB">
  <br> <br>
  <a th:href="@{/patient_index}">GO TO PATIENT INDEX</a>
  <th>Patient</th>
  </tr>
  <tr th:each="patient : ${listePatients}">
    <td><a th:href="@{'/patient_index/'+ ${patient.id}}">[[${patient.nom}]]</a></td>
  </tr>
  </table>
  <br>
  <br>
  <a th:href="@{/medecin_index}">GO TO MEDECIN INDEX</a>
  <br>
  <a th:href="@{/clinique_index}">GO TO CLINIQUE INDEX</a>
  <table>
    <tr>
      <th>Cliniques</th>
    </tr>
    <tr th:each="clinique : ${listeCliniques}">
      <td><a th:href="@{'/clinique_index/' + ${clinique.id}}">[[${clinique.nom}]]</a></td>
    </tr>
  </table>
  <br>
  <a th:href="@{/admin_index}">GO TO ADMIN INDEX</a>

</div>
<br> <br>
<div class="footer">
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 ">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. Tous droits réservés.
    </div>
  </div>
</div>
</body>
</html>