<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Projet Medical</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/presentation.css" />
</head>
<body class="bg-produits">
<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{/}" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/presentation}" class="nav-link">À propos de nous</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/creer}" class="nav-link">Créer un compte</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <br> <br> <br>
</nav>
<br> <br>
</body>
<div class="main">
    <p style = "font-size: 40px;"><b>À propos de MediMeets</b></p>
    <a style="float:right;text-align:right;margin-left: 80px;"><img src="../images/team-young-specialist-doctors-standing-corridor-hospital.jpg" alt="Groupe de docteurs" width="560px" style="margin-right: 25px; margin-left: 25px;"/> </a>
    <p style = "font-size: 30px;"><i>Trouver ce dont vous avez besoin n'a jamais été aussi facile !</i></p>

    <p style = "font-size: 20px;">Bienvenue sur MediMeets, votre source de confiance pour les rendez-vous médicaux en ligne.
        Notre mission est de fournir des rendez-vous médicaux pratiques et efficaces aux patients qui ont besoin de soins médicaux.</p>

    <p style="font-size: 20px;">Chez MediMeets, nous comprenons l'importance de trouver le bon prestataire de soins. Nous comprenons également les défis
        que représentent la prise de rendez-vous, les longues files d'attente et les démarches auprès des compagnies d'assurance.
        C'est pourquoi nous avons créé une plateforme en ligne facile à utiliser qui met en relation les patients avec les meilleurs prestataires
        de soins de santé de leur région..</p>

    <p style="font-size: 20px;">Notre équipe est composée de professionnels de la santé expérimentés qui s'attachent à fournir le plus haut niveau de soins à nos patients.
        Nous travaillons avec un réseau de prestataires de soins de santé qui ont été contrôlés et soigneusement sélectionnés en fonction de leurs qualifications et de leur expertise.</p>

    <p style="font-size: 20px;">Que vous souhaitiez un contrôle de routine ou que vous ayez besoin de consulter un spécialiste, notre plateforme vous permet
        de trouver facilement le prestataire de soins de santé adapté à vos besoins. Il vous suffit de créer un compte, de rechercher
        un prestataire et de prendre votre rendez-vous en ligne.</p>
</div>
<p style="font-size: 20px;">Chez MediMeets, nous nous engageons à offrir à nos patients la meilleure expérience possible.
    Nous comprenons que les besoins de chaque patient sont uniques et nous sommes là pour fournir des soins
    et un soutien personnalisés à chaque étape du processus.</p>
<p style="font-size: 20px;">Merci d'avoir choisi MediMeets. Nous sommes impatients de vous aider à prendre en main votre santé et votre bien-être.</p>
<div class="footer">
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. Tous droits réservés. (À mettre directement en bas de la page)
        </div>
    </div>
</div>

</html>