<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Projet Medical</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />


  </head>
  <body class="bgcolorA">
  <div class="container">
    <a th:href="@{/admin_index}" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a th:href="@{/admin_index}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/adminPatients}" class="nav-link">Liste des patients</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/adminMedecins}" class="nav-link">Liste des medecins</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/adminCliniques}" class="nav-link">Liste des cliniques</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/}" class="nav-link">Deconnexion</a>
        </li>
      </ul>
    </div>
  </div>
  <br> <br>
  <div class="main">
    <a th:href="@{/adminCliniques/new}">AJOUTER UNE CLINIQUE</a>
    <div id="patientList">
      <h1>Liste des cliniques :</h1>
      <table id="tablePatient">
        <tr>
          <td>Id</td>
          <td>Nom</td>
          <td>Coordonnés</td>
          <td>Services Offerts</td>
          <td>Email</td>
          <td>Numéro de téléphone</td>
        </tr>
        <tr th:each="clinique : ${listeCliniques}">

          <td>[[${clinique.id}]]</td>
          <td>[[${clinique.nom}]]</td>
          <td>[[${clinique.coordonnees}]]</td>
          <table id="listeServicesCliniques">
            <tr th:each="service : ${clinique.getServices_offerts()}">
              <td>[[${service.nom}]]</td>
            </tr>
          </table>
          <td>[[${clinique.email}]]</td>
          <td>[[${clinique.numtele}]]</td>
          <td><a th:href="@{'/adminCliniques/edit/' + ${clinique.id}}" class="btn btn-primary">Modifier</a></td>
          <td><a th:href="@{'/adminCliniques/delete/' + ${clinique.id}}" class="btn btn-primary">Supprimer</a></td> <br>
        </tr>
      </table>
    </div>
  </div>

  </body>
  </html>
