<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Projet Medical</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />


    </head>
    <body class="bgcolorA">
    <nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/Vues/Admin/admin_index.html"/>" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Vues/Admin/admin_index.html"/>" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Vues/Admin/ajouter.html"/>" class="nav-link">Ajouter</a>
                    </li>
                    <li class="nav-item">
                        <a href="adminControlleur?goToPatient=optionPatient" class="nav-link">Liste des patients</a>
                    </li>
                    <li class="nav-item">
                        <a href="adminControlleur?goToMedecin=optionMedecin" class="nav-link">Liste des medecins</a>
                    </li>
                    <li class="nav-item">
                        <a href="adminControlleur?goToClinique=optionClinique" class="nav-link">Liste des cliniques</a>
                    </li>
                </ul>
            </div>
        </div>
        <br> <br> <br>
    </nav>
    <br> <br>
    <div class="main">
        <h1>Liste des patients :</h1>
        <div id="patientList">
            <table id="tablePatient">
                <tr th:each="patient : ${listePatients}">

                    <td>[[${patient.id}]]</td>
                    <td>[[${patient.nom}]]</td>
                    <td>[[${patient.prenom}]]</td>
                    <td><%=unPatient.getNumAss()%></td>
                    <td><%=unPatient.getId_clinique()%></td>
                    <td><a href="adminModifierControlleur?fillInputModifierPatient=<%=unPatient.getId()%>" class="btn btn-primary">Modifier</a> </td>
                    <td><a href="adminDeleteControlleur?deletePatient=<%=unPatient.getId()%>" class="btn btn-primary">Supprimer</a> </td>
                </tr>
            </table>
        </div>
    </div>

    </body>
    </html>
