<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MediMeets</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/patientRDV.css" />
</head>
<body class="bgcolorM">
<nav class="nav navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a href="medecin_index.html" style="text-indent: 10px;" class="navbar-brand">MediMeets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a th:href="@{/medecins}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/Vues/Medecin/liste_patients.html" class="nav-link">Liste de mes patients</a>
        </li>
        <li class="nav-item">
          <a href="mes_rdv.html" class="nav-link">Mes rendez-vous</a>
        </li>
        <li class="nav-item">
          <a href="compte_medecin.html" class="nav-link">Mon compte</a>
        </li>
      </ul>
    </div>
  </div>
  <br> <br> <br>
</nav>
<br> <br>
<div class="container mt-auto">
  <h1 class="m_liste">Liste de mes rendez-vous :</h1>
</div>
<br> <br>
<div class="footer">
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. Tous droits réservés. (À mettre directement en bas de la page)
    </div>
  </div>
</div>
</body>
</html>